<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widht=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Doe Livros!

    <ul>
        {%for livro in livros%}
        <li> {{livro.id}} - {{livro.nome}} 
        <a href="{% url 'editar' livro.id %}>Editar</a>
        <a href="{% url 'delete' livro.id %}>Deletar</a>
    </li>
        {% endfor %}        
    </ul>
    <form action="{%url 'salvar' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome"> 
        <input type="text" author="autor"> 
        <input type="text" gender="genero"> 
        <input type="text" city="cidade"> 
        <input type="text" phone ="telefone"> 
        <input type="text" email="email"> 
        <input type="text" begin_date="data_inicio"> 
        <input type="text" photo="foto"> 
        <input type="text" user="user"> 
        <button type="submit">Salvar</button>      
    </form>

</body>


</html>